{% extends 'movieapp/movieapp_base.html' %}

{% block premovie %}
<div class="container">

  <h1>{{ movie.movie_name }}</h1>
  <div class="container">

    <h2>Realesed On: {{movie.release_year}}</h2>
    <br>
    <h2>Imdb Rating: {{movie.imdb_rating}}</h2>
    <br>
    <h2>Crew: {{movie.movie_crew}}</h2>
    <br>
    <h2>Locations: {{movie.movie_location}}</h2>

  </div>

  {% if user.is_authenticated %}

  <h3> <a href="{% url 'wishlist' pk=movie.pk %}">Add to wishlist</a> </h3>

  {% endif %}
</div>


{% endblock %}
